h1{
    font-family: pwperspectivemedium ;
    font-size: 6rem;
    margin-top: 5%;
}


#but1{
    background-color: dimgray;
    border-left: 5px;
    border-color: black;
    margin-right: 1%;
}


#but2{
    background-color: dimgray;
    border-right: 5px;
    border-color: black;
}


.trial{
    display: flex;
    align-items: stretch;
}